/* Basic styling, layout, and color scheme */
body {
    font-family: sans-serif;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
   }

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease-in-out;
}

.search-bar {
    display: flex;
    margin-bottom: 20px;
}

.search-bar input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}

.search-bar button {
    padding: 10px 15px;
    background-color: #007bff; /* Example button color */
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.weather-info {
    text-align: left;
}

.city-info {
    margin-bottom: 20px;
}

.city-info img {
    width: 32px;
    height: auto;
    vertical-align: middle;
    margin-left: 1px;
}

.weather-details p {
    margin: 5px 0;
}

.dark-mode-toggle {
    margin-top: 20px;
    text-align: right;
}

/* Dark mode styles */
body.dark-mode {
    background-color: #270338;
    color: #ffffff;
}

.dark-mode .container {
    background-color: #0b0101;
}

/*footer section */
.site-footer {
    padding: 20px;
    text-align: center;
    position:relative;
    bottom: 0;
    left: 0;
    width: 200%;
    color: #ffffff;
}

.site-footer p {
    font-size: 1rem;
    margin: 0;
    background-clip: text;
    animation: colorShift 10s ease infinite;
}


@keyframes colorShift {
    0% { color: #FF0000; }
    10% { color: #FF9A00; }
    20% { color: #D0DE21; }
    30% { color: #4FDC4A; }
    40% { color: #3FDAE8; }
    50% { color: #2F81EE; }
    60% { color: #5F15F2; }
    70% { color: #BA0CF8; }
    80% { color: #FB07D9; }
    90% { color: #FF0000; }
    100% { color: #FF0000; }
}